main {
    height: 900px;
    position: relative;
    margin: 1% 5% 1% 5%;
}

.bg {
    height: 900px;
    width: 900px;
    position: absolute;
    top: 1%;
    left: 50%;
    opacity: 0.1;
}

.maincon {
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    margin: 0 0 2% 5%;
}

i {
    color: yellow;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    
}